// Homepage
// ---------------------------------------------
.landing__block-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $teal;
    background-position: left center;
    padding: $padding-md;
    color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: $baseline-sm;
    min-height: 300px;

	&.text-white {
		color: $white; 
	}

    &.is-alternate {
		padding-right: $padding-md;

        .landing__block-buttons {
            text-align: right;
        }
    } 
}

	.btn-landing {
		margin-bottom: $baseline-xs;
	}

@media (min-width: $grid-float-breakpoint) {
	.landing__block-content {
		.is-main & {
			padding-right: 340px;
		}
    }
    
    .home .landing__block-wrapper {
        min-height: 35vh;      
    }
}

@media (max-width: $grid-float-breakpoint-max) {
    .home .landing__block-wrapper {
        min-height: 200px;      
    }
}